<div class="row">
    <div class="col-6">
        <app-dona [title]="titulos[0]" [labels]="rendimientoLabels" [data]="rendimientoData"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [title]="titulos[1]" [labels]="ladoLabels"  [data]="ladoData"></app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona [title]="titulos[2]" [labels]="campeonesLabels"  [data]="campeonesData"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [title]="titulos[3]" [labels]="kdaLabels"  [data]="kdaData"></app-dona>
    </div>
</div>
